<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key = "eleviFileName" value="/Users/vladfrunzescu/Documents/An II/Semestrul I/MAP/NBALeague/NBALeague/Data/elevi.txt"/>
        <add key = "echipeFileName" value="/Users/vladfrunzescu/Documents/An II/Semestrul I/MAP/NBALeague/NBALeague/Data/echipe.txt"/>
        <add key = "jucatoriFileName" value="/Users/vladfrunzescu/Documents/An II/Semestrul I/MAP/NBALeague/NBALeague/Data/jucatori.txt"/>
        <add key = "jucatoriActiviFileName" value="/Users/vladfrunzescu/Documents/An II/Semestrul I/MAP/NBALeague/NBALeague/Data/jucatoriActivi.txt"/>
        <add key = "meciuriFileName" value="/Users/vladfrunzescu/Documents/An II/Semestrul I/MAP/NBALeague/NBALeague/Data/meciuri.txt"/>
        </appSettings>>
</configuration>
